TELEGRAM_BOT_TOKEN=8637510028:AAFXIwofDrILi4C6-CyGnEVR3A9rySb8CkQ
ADMIN_SECRET_KEY=admin_password_123

UPSTASH_REDIS_REST_URL=https://desired-possum-198445.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAwctAAIgcDIzZjI2ZGQzYzA2MzA0NmZjOWQyN2VjNGM1MTYyODM5Yg

GSM_URL=https://gsmonline.net/public/aC5oN9kJBkWTFSAsVADM42NbZpdh3G09
OTIS_API_KEY=
CHECKGD_API_KEY=
PAYMENTS_ENABLED=false
ADMIN_CONTACT=@tralaicuocsongchochinhminh
CRON_SECRET=otphub_cron_secret_2026_xyz